.root {
    -fx-background-color: #313341;
}

.label {
    -fx-text-fill: #808080;
    -fx-font-size: 16px;
}

.label_container {
    -fx-padding: 0 50 30 50;
}

.box {
    -jfx-focus-color: #137AD3;
    -fx-text-inner-color: #d3d3d3;
    -jfx-unfocus-color: #808080;
    -fx-prompt-text-fill: #808080;

    -fx-pref-width: 300px;
    -fx-pref-height: 20px;
}

.download_button_container {
    -fx-padding: 30 0 30 0;
}

.download_button {
    -jfx-button-type: FLAT;
    -fx-background-color: #137AD3;
    -fx-text-fill: #d3d3d3;

    -fx-pref-width: 300px;
    -fx-pref-height: 32px;
}

.error {
    -fx-text-fill: red;
    -fx-font-size: 14px;
}

.approved {
    -fx-text-fill: #137AD3;
    -fx-font-size: 14px;
}
