.root {
    -fx-background-color: #313341;
}

.label {
    -fx-text-fill: #808080;
    -fx-font-size: 16px;
}

.label_container {
    -fx-padding: 0 50 20 50;
}

.box {
    -jfx-focus-color: #137AD3;
    -fx-text-inner-color: #d3d3d3;
    -jfx-unfocus-color: #808080;
    -fx-prompt-text-fill: #808080;

    -fx-pref-width: 300px;
    -fx-pref-height: 20px;
}

